---
import DownloadTiles from "./DownloadTiles.astro";
import AddYourMusicSection from "./guideSections/AddYourMusicSection.astro";
import ConnectYourPhoneSection from "./guideSections/ConnectYourPhoneSection.astro";
import TransferYourFilesSection from "./guideSections/TransferYourFilesSection.astro";

interface Props {
  includeDownloadTiles: boolean;
}

const { includeDownloadTiles } = Astro.props;

let index = 1;
if (includeDownloadTiles) {
  index += 1;
}
const addYourMusicIndex = index;
index += 1;
const connectYourPhoneIndex = index;
index += 1;
const transferYourFilesIndex = index;
---

{
  includeDownloadTiles && (
    <>
      <h2>1. Install both apps</h2>

      <DownloadTiles />
    </>
  )
}

<AddYourMusicSection index={addYourMusicIndex} />
<ConnectYourPhoneSection index={connectYourPhoneIndex} />
<TransferYourFilesSection index={transferYourFilesIndex} />
