---
import BaseLayout from "../components/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Nav from "../components/Nav.astro";
---

<BaseLayout title="Musicopy | Contact">
  <Nav />

  <Main>
    <h1>Contact</h1>

    <p>
      Please open an issue on <a href="https://github.com/fractalbeauty/musicopy/issues">GitHub</a>,
      or email <a href="mailto:hazel+musicopy@meows.zip">hazel+musicopy@meows.zip</a>.
    </p>
  </Main>

  <div class="flex-1"></div>

  <Footer />
</BaseLayout>
