---
import BaseLayout from "../components/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import DownloadTiles from "../components/fragments/DownloadTiles.astro";
import InfoTiles from "../components/fragments/InfoTiles.astro";
import Main from "../components/Main.astro";
import Nav from "../components/Nav.astro";
---

<BaseLayout title="Musicopy | Download">
  <Nav />

  <Main>
    <h1>Download</h1>

    <DownloadTiles />

    <br />

    <InfoTiles />
  </Main>

  <div class="flex-1"></div>

  <Footer />
</BaseLayout>
