---
import BaseLayout from "../components/BaseLayout.astro";
import FilledButtonLink from "../components/FilledButtonLink.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Nav from "../components/Nav.astro";
import Tile from "../components/Tile.astro";
---

<BaseLayout title="Musicopy | Download">
  <Nav />

  <Main>
    <h1>Download</h1>

    <div class="tile-row">
      <Tile class="desktop">
        <h2>Desktop</h2>

        <FilledButtonLink
          href="https://download.musicopy.app/download.html"
          size="lg"
          outlined
        >
          <div class="row">
            Download

            <span class="material-symbols-outlined"> arrow_forward </span>
          </div>
        </FilledButtonLink>

        <span class="label">Available for Windows, MacOS, and Linux.</span>
      </Tile>

      <Tile>
        <h2>Mobile</h2>

        <div class="googleplay">
          <a href="https://play.google.com/store/apps/details?id=app.musicopy">
            <img height="50px" src="/static/3rdparty/googleplay_en.png" />
          </a>
        </div>

        <div class="ios label">
          Available for iOS on <a
            href="https://testflight.apple.com/join/Ck9KaZVR">TestFlight</a
          >
          <br />
          Releasing May 2026
        </div>

        <!-- <a href="">
            <img height="45px" src="/static/3rdparty/appstore_en.svg" />
          </a> -->
      </Tile>
    </div>

    <br />

    <div class="tile-grid">
      <Tile outlined class="span-2">
        <h2>Features</h2>

        <p>
          <span class="features">
            <span
              ><strong>Magic connectivity:</strong> scan a QR code to connect.</span
            >
            <span
              ><strong>Automatic transcoding</strong> to fit more songs on your device.</span
            >
            <span
              ><strong>No cloud services, ads, or subscriptions:</strong> just two
              apps.</span
            >
          </span>
        </p>
      </Tile>

      <Tile outlined>
        <h3>Demo</h3>

        <p>Try the mobile app without installing the desktop app.</p>

        <div class="flex-1"></div>

        <div class="cta">
          <FilledButtonLink href="/demo" size="md" outlined>
            <div class="row">
              Try the demo

              <span class="material-symbols-outlined"> arrow_forward </span>
            </div>
          </FilledButtonLink>
        </div>
      </Tile>

      <Tile outlined>
        <h3>Source</h3>

        <p>
          Source code is available under the <a
            href="https://github.com/fractalbeauty/musicopy/blob/main/LICENSE"
            target="_blank">GNU AGPLv3</a
          >.
        </p>

        <div class="flex-1"></div>

        <div class="cta">
          <FilledButtonLink
            href="https://github.com/fractalbeauty/musicopy"
            target="_blank"
            size="md"
            outlined
          >
            <div class="row">
              View on GitHub

              <span class="material-symbols-outlined"> arrow_forward </span>
            </div>
          </FilledButtonLink>
        </div>
      </Tile>

      <Tile outlined class="span-2">
        <h3>License</h3>

        <p>
          Musicopy is free to try, with no restrictions. Buying a lifetime
          license helps support its development. ♥
        </p>

        <div class="flex-1"></div>

        <div class="cta cta-right">
          <FilledButtonLink href="/license" size="md" outlined>
            <div class="row">
              Purchase a license&nbsp;

              <span class="material-symbols-outlined"> arrow_forward </span>
            </div>
          </FilledButtonLink>
        </div>
      </Tile>
    </div>
  </Main>

  <div class="flex-1"></div>

  <Footer />
</BaseLayout>

<style>
  .tile-row :global(.desktop) {
    gap: 20px;
  }

  .tile-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  .tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
  }
  .tile-grid :global(.span-2) {
    grid-column: span 2;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .label {
    font-size: 12pt;
  }

  .center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media screen and (max-width: 800px) {
    .tile-row {
      flex-direction: column-reverse;
    }

    .tile-grid {
      display: flex;
      flex-direction: column;
    }

    .center {
      margin-top: 20px;
    }
  }

  .cta-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  @media screen and (max-width: 800px) {
    .cta {
      display: block;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .googleplay {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
  }

  .ios {
    text-align: center;
  }
</style>
